extends layout

block content
    div(class='game-container-container')
        div(class='game-sidebar-wrapper')
            div(class='game-sidebar-categories')
                ul(class='game-sidebar-categories-ul' id="")
                    label(class="game-sidebar-categories-label") Categories
                    a(href='/categories/1')
                        button(class="game-sidebar-button") Action Adventure
                    a(href='/categories/2')
                        button(class="game-sidebar-button") RPG
                    a(href='/categories/3')
                        button(class="game-sidebar-button") MMO
                    a(href='/categories/4')
                        button(class="game-sidebar-button") Horror
                    a(href='/categories/5')
                        button(class="game-sidebar-button") Sport/Sim
                    a(href='/categories/6')
                        button(class="game-sidebar-button") Strategy/RTS
                    a(href='/categories/7')
                        button(class="game-sidebar-button") Casual Sandbox
            div(class='game-sidebar-gameshelf-wrapper')
                div
                    label(class="game-sidebar-gameshelf-label") GameShelf
                div
                    button(data-modal-target="#modal") Open Modal
                    div(class="modal" id="modal")
                        div(class="modal-header")
                            div(class="title") Example Modal
                            button(class="close-button" data-close-button="") &times;
                        div(class="modal-body")
                            | test
                    div(id="overlay")
            div(class="game-sidebar-gameshelf-list-wrapper")
            if (gameshelves)
                each gameshelf in gameshelves
                    div
                    form(action=`/games/gameshelf/${gameshelf.id}` method='get')
                        button(class="game-sidebar-button")= `${gameshelf.name}`
        div(class='game-container-wrapper')
            each game in games
                div(class='game-container-list-div game-container-list-div-hover')
                    img(class='game-container-img' src= game.url, alt= `${game.title}`)
                    div(id='game-text-container-id' class='game-text-container')
                        div(class='game-container-game-title game-container-list-game-title')= `${game.title}`
                        form(action=`/games/${game.id}` method="get")
                            button(class="game-info-button" type="submit") Learn More
    script(src='/javascripts/modal.js')
