extends layout

include utils.pug

block content
    div(class='game-container-container')
        div(class='game-sidebar-wrapper')
            div(class='game-sidebar-categories')
                ul(class='game-sidebar-categories-ul' id="")
                    label(class="game-sidebar-categories-label") Categories
                    a(href='/games')
                        button(class="game-sidebar-button") All
                    a(href='/categories/1')
                        button(class="game-sidebar-button") Action Adventure
                    a(href='/categories/2')
                        button(class="game-sidebar-button") RPG
                    a(href='/categories/3')
                        button(class="game-sidebar-button") MMO
                    a(href='/categories/4')
                        button(class="game-sidebar-button") Horror
                    a(href='/categories/5')
                        button(class="game-sidebar-button") Sport/Sim
                    a(href='/categories/6')
                        button(class="game-sidebar-button") Strategy/RTS
                    a(href='/categories/7')
                        button(class="game-sidebar-button") Casual Sandbox
            if user
                div(class='game-sidebar-gameshelf-wrapper')
                    div
                        label(class="game-sidebar-gameshelf-label") GameShelf
                    div(class="game-sidebar-gameshelf-modal-wrapper")
                        if (inGameShelf)
                            form(action=`/gameshelves/delete` method="post")
                                button(id=`remove-gameshelf` class="gameshelf-remove-button gs-delete-btn" type='submit') -
                        else
                            button(class = "game-sidebar-gameshelf-modal-button" data-modal-target="#modal") +
                            div(class="modal" id="modal")
                                div(class="modal-header")
                                    div(class="title") GameShelf
                                    button(class="close-button" data-close-button="") &times;
                                div(class="modal-body")
                                    | Create name of GameShelf
                                    form(action='/gameshelves' method="post")
                                        input(type='hidden' name='_csrf' value=csrfToken)
                                        label Name
                                        +field("", "gameShelfName", "")
                                        button(type='submit') Submit
                            div(id="overlay")
                div(class="game-sidebar-gameshelf-list-wrapper")
                if (gameshelves)
                    each gameshelf in gameshelves
                        div(class='game-shelf-sidebar-div')
                        form(action=`/gameshelves/${gameshelf.id}` method='get')
                            button(class="game-sidebar-button")= `${gameshelf.name}`
            else
                label(class='gameshelf-no-login') Please log in or register to see GameShelf
        div(class='game-container-wrapper')
            each game in games
                div(class='game-container-list-div game-container-list-div-hover')
                    img(class='game-container-img' src= game.url, alt= `${game.title}`)
                    div(id='game-text-container-id' class='game-text-container')
                        div(class='game-container-game-title game-container-list-game-title')= `${game.title}`
                        form(action=`/games/${game.id}` method="get")
                            button(class="game-info-button" type="submit") Learn More
                        if (gameshelves)
                            if (inGameShelf)
                                form(action=`/gameshelves/edit` method="post")
                                    input(type="hidden" name="_csrf" value=csrfToken)
                                    select(name="Gameshelves" placeholder='Gameshelf' id='GS')
                                        each gameshel in gameshelves
                                            option(name=`GameshelfName` value=`${gameshel.id}-${game.id}` class=`${game.id}` id=`${gameshel.id}`)= `${gameshel.name}`
                                    button(id=`add-button-${game.id}` class="gameshelf-create-button" type='submit') -
                            else
                                form(action=`/gameshelves/create` method="post")
                                    input(type="hidden" name="_csrf" value=csrfToken)
                                    select(name="Gameshelves" placeholder='Gameshelf' id='GS')
                                        each gameshel in gameshelves
                                            option(name=`GameshelfName` value=`${gameshel.id}-${game.id}` class=`${game.id}` id=`${gameshel.id}`)= `${gameshel.name}`
                                    button(id=`delete-button-${game.id}` class="gameshelf-delete-game-button" type='submit') +
